<div class="container w-75">
  <h1>Create A New Review</h1>

  <div class="container w-75">
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Submit Review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
